worker_processes 1;

events {
    worker_connections 1024;
}

http {
    server {
        listen {{ nginx_port }};
        server_name localhost;

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
        }

        # Add other configuration directives here as needed
    }
}
